<scs-global-loader></scs-global-loader>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="/" [routerLink]="['/']" class="menu-item">SCS</a>
    <span class="menu-items">
      <ng-container *ngIf="!isUserLoggedIn">
        <a href="/login" id="login-btn" [routerLink]="['/login']" class="menu-item"
          routerLinkActive="menu-item--active">Login</a>

        <a href="/signup" id="signup-btn" [routerLink]="['/signup']" class="menu-item"
          routerLinkActive="menu-item--active">Sign up</a>
      </ng-container>

      <ng-container *ngIf="isUserLoggedIn">
        <a href="/" id="home-btn" [routerLink]="['/']" class="menu-item" routerLinkActive="menu-item--active"
          [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a href="booking" id="profile-btn" [routerLink]="['booking']" class="menu-item"
          routerLinkActive="menu-item--active">Booking</a>
        <a href="pci" id="profile-btn" [routerLink]="['pci']" class="menu-item"
          routerLinkActive="menu-item--active">Pci</a>
        <a href="/profile" id="profile-btn" [routerLink]="['/profile']" class="menu-item"
          routerLinkActive="menu-item--active">Profile</a>
        <a href="javascript:void(0);" id="logout-btn" class="menu-item" (click)="logout()">Logout</a>
      </ng-container>

    </span>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
