<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon class="card-title-icon">reorder</mat-icon>
      My Bookings
    </mat-card-title>
    <a mat-raised-button color="primary" class="btn-add" href="/booking/new" [routerLink]="['/booking/new']">
      <mat-icon>add</mat-icon>
      Add
    </a>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content *ngIf="(bookings$ | async) as bookings">
    <span class="text-no-pci-add" *ngIf="bookings.length === 0; else bookingListTemplate;">
      No Booking available yet.
    </span>
    <ng-template #bookingListTemplate>
      <mat-nav-list>
        <mat-list-item *ngFor="let bkng of bookings" (click)="detail(bkng)">
          <mat-icon mat-list-icon>bookmark</mat-icon>
          <h4 mat-line>Status: {{bkng.status}}</h4>
          <p mat-line> Timing: Starts at {{bkng.start | date : 'yyyy-MM-dd, h:mm a'}} for {{bkng.duration}} Minutes</p>
          <button color="warn" mat-icon-button scsStopClickEvent [disabled]="bkng.status === allBookingStatus.CANCELED"
            (click)="cancel(bkng)">
            <mat-icon>cancel_presentation</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </ng-template>
  </mat-card-content>
</mat-card>
