<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon class="card-title-icon">{{pciId ? 'edit_road' : 'receipt'}}</mat-icon>
      {{pciId ? 'Edit' : 'Register'}}
    </mat-card-title>
    <a mat-button color="primary" href="/pci" [routerLink]="['/pci']" class="btn-list">
      <mat-icon>list</mat-icon>
      List
    </a>
  </mat-card-header>
  <form class="pci-config-form">
    <mat-accordion>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>account_circle</mat-icon>
            <span>Basic info</span>
          </mat-panel-title>
          <mat-panel-description>
            Name, Highway location & Gps coordinate.
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="content-wrapper" [formGroup]="basicInfoForm">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input type="text" name="pci-name" id="pci-name" placeholder="pci name" matInput formControlName="name"
              maxlength="150">
            <mat-error>{{nameFCErr}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Highway</mat-label>
            <input type="text" name="pci-highway-name" id="pci-highway-name" placeholder="name of highway where pci is"
              matInput formControlName="highWay" maxlength="250">
            <mat-error>{{highWayFCErr}}</mat-error>
          </mat-form-field>
          <mat-label>GPS coordinates:</mat-label>
          <div class="gps-coord-wrapper" formGroupName="gpsCoord">
            <mat-form-field appearance="outline">
              <mat-label>Lattitude</mat-label>
              <input type="number" name="pci-gps-lattitude" id="pci-gps-lattitude" placeholder="pci gps lattitude"
                matInput formControlName="latitude" min="-90" max="90">
              <mat-error>{{latitudeFCErr}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Logitude</mat-label>
              <input type="number" name="pci-gps-logitude" id="pci-gps-logitude" placeholder="pci gps logitude" matInput
                formControlName="longitude" min="-180" max="180">
              <mat-error>{{longitudeFCErr}}</mat-error>
            </mat-form-field>

            <button mat-raised-button type="button" color="primary" class="btn-fetch-gps"
              (click)="fetchGpsCoordinates()">
              <mat-icon>gps_fixed</mat-icon>
              <mat-label>Fetch</mat-label>
            </button>
          </div>
        </div>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [disabled]="!basicInfoForm.valid" [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>home</mat-icon>
            Enter Address
          </mat-panel-title>
          <mat-panel-description>
            Complete address, with city, pincode and state.
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="address-form-wrapper" [formGroup]="addressForm">
          <mat-form-field appearance="outline">
            <mat-label>Line 1</mat-label>
            <input type="text" name="address-line-one" id="address-line-one" placeholder="appartment number" matInput
              formControlName="line1" maxlength="250">
            <mat-error>{{line1FCErr}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Line 2</mat-label>
            <input type="text" name="address-line-two" id="address-line-two" placeholder="street number" matInput
              formControlName="line2" maxlength="250">
            <mat-error>{{line2FCErr}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Landmark</mat-label>
            <input type="text" name="address-landmark" id="address-landmark" placeholder="landmark" matInput
              formControlName="landmark" maxlength="100">
            <mat-error>{{landmarkFCErr}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>District</mat-label>
            <input type="text" name="address-district" id="address-district" placeholder="district" matInput
              formControlName="district" maxlength="100">
            <mat-error>{{districtFCErr}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input type="text" name="address-state" id="address-state" placeholder="state" matInput
              formControlName="state" maxlength="100">
            <mat-error>{{stateFCErr}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Pincode</mat-label>
            <input type="number" name="address-pincode" id="address-pincode" placeholder="pincode" matInput
              formControlName="pincode">
            <mat-error>{{pincodeFCErr}}</mat-error>
          </mat-form-field>
        </div>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [disabled]="!addressForm.valid || !basicInfoForm.valid" [expanded]="step === 3"
        (opened)="setStep(3)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>battery_charging_full</mat-icon>
            Add chargers
          </mat-panel-title>
          <mat-panel-description>
            Choose your charges and no. of points.
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="connector-selection-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>Choose selector type</mat-label>
            <mat-select [(ngModel)]="selectedCharger" name="select-charger-type">
              <mat-option *ngFor="let chrg of avlChargers | async" [value]="chrg">
                {{chrg | pciChargerToText}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button type="button" color="primary" class="btn-add" (click)="addCharger()">
            <mat-icon>add</mat-icon>
            <mat-label>Add</mat-label>
          </button>
        </div>

        <ng-container *ngIf="addedChargers && addedChargers.length > 0; else noChargerAddedTemplate;">
          <mat-card-subtitle class="added-charger-text">
            Added Charger List:
          </mat-card-subtitle>

          <mat-list>
            <mat-list-item *ngFor="let chrg of addedChargers; let i = index;">
              <mat-icon mat-list-icon>charging_station</mat-icon>
              <h3 mat-line>{{chrg | pciChargerToText}}</h3>
              <div class="btn-quanity-wrapper">
                <button mat-icon-button color="primary" (click)="incChargerPoints(i)">
                  <mat-icon>add_circle_outline</mat-icon>
                </button>
                <span>Points: {{chrg.points}}</span>
                <button mat-icon-button color="warn" (click)="decChargerPoints(i)">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </ng-container>

        <ng-template #noChargerAddedTemplate>
          <span>Please add atleast one charger.</span>
        </ng-template>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-raised-button type="button" (click)="resetPciForms()">Reset</button>
          <button mat-raised-button color="primary" (click)="saveOrUpdatePciDetail()"
            [disabled]="saveBtnDisabled">{{pciId ? 'Update' : 'Save'}}</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-card>
