:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;

  .added-charger-text {
    margin-bottom: 0px;
    margin-top: 20px;
  }

  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0px 60px 16px;
    }
  }
}

.label {
  padding-top: 35px;

  &:first-child {
    padding-top: 0px;
  }
}

.pci-config-form {
  padding: 20px;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .mat-card-header-text {
      margin-left: 0;
    }
  }

}

.mat-radio-group {
  display: flex;
  flex-direction: column;
}

.mat-radio-button {
  margin: 10px 20px;
}

.btn {
  width: 50%;

  &-list {
    margin-left: auto;
  }

  &-wrapper {
    margin-top: 40px;
    display: flex;
    width: 100%;
  }

  &:first-child {
    margin-right: 10px;
  }

  &-fetch-gps {
    @extend %btn-margin;
    width: 125px;
  }

  &-add {
    @extend %btn-margin;
    width: 100px;
    margin-right: 0px;
  }

  &-quanity-wrapper {
    display: flex;
    align-items: center;
    width: 65%;
  }
}

.gps-coord-wrapper,
.address-form-wrapper {
  display: flex;
}

.gps-coord-wrapper {
  .mat-form-field {
    margin-right: 10px;
  }
}

%btn-margin {
  margin: auto 0px 30px 30px;
}

.address-form-wrapper {
  flex-direction: column;
}

.connector-selection-wrapper {
  display: flex;

  .mat-form-field {
    width: 100%;
  }
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.mat-expansion-panel-header-title {
  font-size: 20px;

  .mat-icon {
    margin-right: 10px;
  }
}
