/* You can add global styles to this file, and also import other style files */


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  * {
    box-sizing: border-box;
  }
}

.mat-card {

  &.form-card,
  &.info-card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 450px;
  }
}

.mat-button-base.card-header-btn {
  margin-bottom: 20px;
  margin-left: 10px;

  &:nth-child(2) {
    margin-left: auto;
  }
}

.card-title-icon {
  vertical-align: middle;
}
