<mat-card>
  <mat-card-header>
    <mat-card-title>Register Public charging infrastructure</mat-card-title>
  </mat-card-header>

  <form class="pci-config-form">
    <mat-card-subtitle>Basic info</mat-card-subtitle>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" name="pci-name" id="pci-name" placeholder="pci name" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Highway</mat-label>
      <input type="text" name="pci-highway-name" id="pci-highway-name" placeholder="name of highway where pci is"
        matInput>
    </mat-form-field>

    <mat-label>GPS coordinates:</mat-label>
    <div class="gps-coord-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Lattitude</mat-label>
        <input type="text" name="pci-gps-lattitude" id="pci-gps-lattitude" placeholder="pci gps lattitude" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Logitude</mat-label>
        <input type="text" name="pci-gps-logitude" id="pci-gps-logitude" placeholder="pci gps logitude" matInput>
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" class="btn-fetch-gps">
        <mat-icon>gps_fixed</mat-icon>
        <mat-label>Fetch</mat-label>
      </button>
    </div>

    <mat-label>Address:</mat-label>
    <div class="address-form-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Line 1</mat-label>
        <input type="text" name="address-line-one" id="address-line-one" placeholder="appartment number" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Line 2</mat-label>
        <input type="text" name="address-line-two" id="address-line-two" placeholder="street number" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Landmark</mat-label>
        <input type="text" name="address-landmark" id="address-landmark" placeholder="landmark" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>District</mat-label>
        <input type="text" name="address-district" id="address-district" placeholder="district" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input type="text" name="address-state" id="address-state" placeholder="state" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Pincode</mat-label>
        <input type="number" name="address-pincode" id="address-pincode" placeholder="pincode" matInput>
      </mat-form-field>
    </div>

    <mat-card-header>
      <mat-card-title>Add Connectors</mat-card-title>
    </mat-card-header>

    <div class="connector-selection-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Choose selector type</mat-label>
        <mat-select [(ngModel)]="selectedCharger" name="select-charger-type">
          <mat-option *ngFor="let chrg of avlChargers" [value]="chrg">
            {{formatChargerName(chrg)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button type="button" color="primary" class="btn-add-connector" (click)="addCharger()">
        <mat-icon>add</mat-icon>
        <mat-label>Add</mat-label>
      </button>
    </div>

    <mat-card-subtitle *ngIf="addedChargers && addedChargers.length > 0">Added Charger List:</mat-card-subtitle>

    <mat-list>
      <mat-list-item *ngFor="let chrg of addedChargers; let i = index;">
        <mat-icon mat-list-icon>ev_station</mat-icon>
        <h3 mat-line>{{formatChargerName(chrg.charger)}}</h3>

        <div class="btn-quanity-wrapper">
          <button mat-icon-button color="primary" (click)="incChargerQuantity(i)">
            <mat-icon>add_circle_outline</mat-icon>
          </button>

          <span>Quantity: {{chrg.quantity}}</span>

          <button mat-icon-button color="warn" (click)="decChargerQuantity(i)">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>

    <div class="btn-wrapper">
      <button mat-raised-button type="button" color="primary" class="btn">
        Save
      </button>

      <button mat-raised-button type="button" class="btn">
        Reset
      </button>
    </div>
  </form>
</mat-card>
