<mat-card class="form-card" [formGroup]="form">

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input type="text" placeholder="Username" matInput formControlName="username">
    <mat-error id="username-error">{{usernameErr}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" placeholder="Password" matInput formControlName="password">
    <mat-error id="password-error">{{passwordErr}}</mat-error>
  </mat-form-field>

  <button id="loginBtn" mat-raised-button color="primary" [disabled]="submittionInProgress" (click)="submit()">
    Login
  </button>
</mat-card>
